@model TruongCNTP.Models.KHOA
@{
    ViewBag.Title = "Sửa thông tin chi tiết khoa";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<h2 style="color:red;font-size:30px;text-align:center;margin-top:40px">SỬA CHI TIẾT KHOA</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table border="0" align="center">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m=>m.MaKhoa)
        <tr>
            <td style="font-weight:bold;text-align:left">Mã khoa: </td>
            <td style="text-align:left">
                <div style="font:18px;padding:5px 0 0 5px">@Model.MaKhoa</div>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;text-align:left">Tên khoa:</td>
            <td style="text-align:left">
                @*@Html.EditorFor(m=>m.TENTL)
                @Html.ValidationMessageFor(m=>m.TENTL)*@
                @Html.TextBoxFor(m=>m.TenKhoa)@ViewData["Loi1"]
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;text-align:left">Năm thành lập:</td>
            <td style="text-align:left">
                @*@Html.EditorFor(m=>m.TENTL)
                @Html.ValidationMessageFor(m=>m.TENTL)*@
                @Html.TextBoxFor(m=>m.NamThanhLap)@ViewData["Loi2"]
            </td>
        </tr>
        <td>
            <button type="submit">Lưu</button>
            <button>@Html.ActionLink("Trở về","Index","Khoa")</button>
        </td>
        
</table>
}

