@model TruongCNTP.Models.GIAOVIEN
@{
    ViewBag.Title = "Thêm giáo viên";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<h2 style="color:red;font-size:30px;text-align:center;margin-top:40px">THÊM MỚI GIÁO VIÊN</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<table class="table" border="0" align="center" style="text-align:left">
    <tr>
        <td style="font-weight:bold">Tên giáo viên:</td>
        <td style="text-align:left">@Html.TextBox("tenGV")</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Mã giáo viên:</td>
        <td style="text-align:left">@Html.TextBox("maGV")</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Chuyên ngành:</td>
        <td style="text-align:left">@Html.DropDownList("MaKhoa")</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Học vị:</td>
        <td style="text-align:left">@Html.TextBox("hocVi")</td>
    </tr>
</table>
    <button type="submit">Tạo mới</button>
    <button>@Html.ActionLink("Trở về","GiaoVien","GiangVien")</button>
    <div style="color:red">@ViewData["Loi1"]</div>
}

