@using TruongCNTP.Models;
@model IEnumerable<TruongCNTP.Models.LOP>
@{
    ViewBag.Title = "Quản lý lớp học";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<h2 style="color:red;font-size:30px;text-align:center;margin-top:40px">QUẢN LÝ LỚP HỌC</h2>
<br />
<table class="table" border="1" align="center">
    <tr>
        <th style="width:120px">Tên lớp </th>
        <th style="width:100px">Mã lớp</th>
        <th style="width:200px">Chọn chức năng</th>
    </tr>
    @foreach(var item in Model){
    <tr>
        <td>@Html.DisplayFor(m=>item.TenLop)</td>
        <td>@Html.DisplayFor(m=>item.MaLop)</td>
        <td>
            <button>@Html.ActionLink("Sửa", "SuaLopHoc", new { id = item.MaLop })</button>
            <button>@Html.ActionLink("Chi tiết", "ChiTietLopHoc", new { id=item.MaLop})</button>
            <button>@Html.ActionLink("Xóa", "XoaLopHoc", new { id=item.MaLop})</button>
        </td>
    </tr>
    }
</table>
<button>@Html.ActionLink("Tạo mới","ThemLopHoc")</button><br /><br />

