@model IEnumerable<TruongCNTP.Models.KHOAHOC>
@{
    ViewBag.Title = "Quản lý khóa học";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}
<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<h2 style="color:red;font-size:30px;text-align:center;margin-top:40px">QUẢN LÝ KHÓA HỌC</h2>
<br />
<table class="table" border="1" align="center">
    <tr>
        <th style="width:120px">Mã khóa học</th>
        <th style="width:100px">Năm bắt đầu</th>
        <th style="width:100px">Năm kết thúc</th>
        <th style="width:200px">Chọn chức năng</th>
    </tr>
    @foreach(var item in Model){
    <tr>
        <td>@Html.DisplayFor(m=>item.MaKhoaHoc)</td>
        <td>@Html.DisplayFor(m=>item.NamBatDau)</td>
        <td>@Html.DisplayFor(m=>item.NamKetThuc)</td>
        <td>
            <button>@Html.ActionLink("Sửa", "SuaKhoaHoc", new { id = item.MaKhoaHoc })</button>
            <button>@Html.ActionLink("Chi tiết", "ChiTietKhoaHoc", new { id=item.MaKhoaHoc})</button>
            <button>@Html.ActionLink("Xóa", "XoaKhoaHoc", new { id=item.MaKhoaHoc})</button>
        </td>
    </tr>
    }
</table>
<button>@Html.ActionLink("Tạo mới","ThemKhoaHoc")</button><br /><br />
