@model TruongCNTP.Models.SINHVIEN
@{
    ViewBag.Title = "Thông tin sinh viên";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}

<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<h2 style="color:red;font-size:30px;text-align:center;margin-top:40px">THÔNG TIN CHI TIẾT SINH VIÊN</h2>
<br />
<table class="table" border="0" align="center" style="text-align:left">
    <tr>
        <td style="font-weight:bold">Tên sinh viên:</td>
        <td style="text-align:left">@Model.TenSV</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Mã sinh viên:</td>
        <td style="text-align:left">@Model.MaSV</td>
    </tr>
    <tr>
        <td style="font-weight:bold">SĐT:</td>
        <td style="text-align:left">@Model.SDT</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Địa chỉ:</td>
        <td style="text-align:left">@Model.DiaChi</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Email:</td>
        <td style="text-align:left">@Model.Email</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Năm sinh:</td>
        <td style="text-align:left">@Model.NamSinh</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Mã lớp:</td>
        <td style="text-align:left">@Model.MaLop</td>
    </tr>
</table>
<button>@Html.ActionLink("Sửa", "SuaSinhVien", new { id = Model.MaSV})</button>
<button>@Html.ActionLink("Xóa", "XoaSinhVien", new { id = Model.MaSV})</button>
<button>@Html.ActionLink("Trở về","Index","SinhVien")</button>

<br /><br />


