@model TruongCNTP.Models.MONHOC
@{
    ViewBag.Title = "Chi tiết thông tin môn học";
    Layout = "~/Views/Shared/layoutAdmin.cshtml";
}


<link href="../../Content/css/cssMain.css" rel="stylesheet" />
<h2 style="color:red;font-size:30px;text-align:center;margin-top:40px">THÔNG TIN CHI TIẾT MÔN HỌC</h2>
<br />
<table class="table" border="0" align="center" style="text-align:left">
    <tr>
        <td style="font-weight:bold">Tên môn:</td>
        <td style="text-align:left">@Model.TenMH</td>
    </tr>
    <tr>
        <td style="font-weight:bold">Mã môn:</td>
        <td style="text-align:left">@Model.MaMH</td>
    </tr>
    
</table>
@using (Html.BeginForm()){
<button>@Html.ActionLink("Sửa", "SuaMonHoc", new { id = Model.MaMH})</button>
<button>@Html.ActionLink("Xóa", "XoaMonHoc", new { id = Model.MaMH})</button>
<button>@Html.ActionLink("Trở về","Index","MonHoc")</button>
}
<br /><br />
